* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    background-color: #FFFEEE;
}

.wrapper{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.imgtopo {
  margin-top: 0;
  width: 100vw;
  object-fit: cover;
  transform: scale(0.9)
}

.header {
  background-color: #74b4ff;
  width: 100vw;
  height: 88vh; /* Defina a altura desejada da div pai aqui */
  overflow: hidden;
}
